Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**

feat(frontend): update to eslint flat cfg
  .eslintignore
  .eslintrc.json
  deploy-sst.sh
  dpl-tf.sh
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  remove-sst.sh
Labels: none

fix(frontend): fix ci
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/work/[slug]/page.tsx
  src/utils/mdToHtml.ts
Labels: Frontend

feat(frontend): update revalidate
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
Labels: Frontend

chore(ci): disable dev ui tests
  .github/workflows/dev-ui-tests.yml
Labels: Infrastructure

feat(frontend): migrate to bun
  .bun-version
  .github/actions/build/action.yml
  .github/actions/deploy/action.yml
  .github/actions/install/action.yml
  .github/actions/ui-test/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/sst-ui-tests.yml
  Dockerfile
  Makefile
  bun.lock
  bun.lockb
  bunfig.toml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Labels: Infrastructure

feat(frontend): fix build
  .github/actions/install/action.yml
  .github/workflows/nextjs_bundle_analysis.yml
Labels: Infrastructure

chore(ci): disable dev ui tests
  .github/actions/install/action.yml
Labels: Infrastructure

fix(frontend): hotfix bg issue
  package.json
  pnpm-lock.yaml
  src/styles/app.css.ts
Labels: Frontend

chore(frontend): cleanup cfg
  Dockerfile
  docker-compose.yml
  dpl-tf.sh
  remove-sst.sh
  scripts/deploy-sst.sh
  terraform/main.tf
Labels: none

feat(frontend): migrate to flat lint cfg
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/components/CommandMenu/index.tsx
  src/components/ContentRenderer.tsx
  src/components/SocialShare/index.tsx
  src/components/Toaster/index.tsx
  src/middleware.ts
  src/test/mockDate.ts
  src/types/util.ts
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/components/Skills/Skills.module.scss
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(frontend): increase warmer funcs for staging
  scripts/deploy-sst.sh
  sst.config.ts
Labels: none

feat(infrastructure): add more stable tf module
  .github/actions/build/action.yml
  .github/actions/deploy-open-next/action.yml
  .github/workflows/deploy.yml
  package.json
  scripts/deploy-sst.sh
  sst.config.ts
  terraform/dynamodb.tf
  terraform/main.tf
  terraform/remote.tf
  terraform/variables.tf
Labels: Infrastructure

feat(infrastructure): add more stable tf module
  package.json
  pnpm-lock.yaml
Labels: none

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
  .gitignore
  terraform/envs/.gitkeep
  terraform/variables.tf
Labels: Infrastructure

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(infrastructure): add more stable tf module
  terraform/variables.tf
Labels: none

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
  terraform/variables.tf
Labels: Infrastructure

feat(infrastructure): add more stable tf module
  .github/actions/deploy-open-next/action.yml
Labels: Infrastructure

feat(infrastructure): add more stable tf module
  terraform/dynamodb.tf
Labels: none

feat(infrastructure): add more stable tf module
  .github/actions/deploy-open-next/action.yml
Labels: Infrastructure

feat(infrastructure): re-enable dev deloys
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(frontend): add package lock for temp test
  .github/workflows/deploy.yml
  package-lock.json
Labels: Infrastructure

Convert to @opennextjs/cloudflare
  open-next.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Labels: none

chore(frontend): fetch now-playing more often
  src/components/NowPlaying/index.tsx
Labels: Frontend

chore: add cloudflare open-next config
  .gitignore
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Labels: none

chore(ci): remove sst
  .github/workflows/sst-ui-tests.yml
Labels: Infrastructure

chore(frontend): add nwpl api key
  src/services/spotifyService.ts
  src/types/env.d.ts
Labels: Frontend

chore(frontend): add nwpl api key
  src/services/spotifyService.ts
  src/types/env.d.ts
Labels: Frontend

fix(frontend): fix crash on slug page
  src/app/blog/[slug]/page.tsx
Labels: Frontend

chore(frontend): prepare for cloudflare
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): prepare for cloudflare
  next.config.ts
  open-next.config.ts
  wrangler.jsonc
Labels: none

chore(frontend): prepare for cloudflare
  .gitignore
  next.config.ts
  package.json
  pnpm-lock.yaml
Labels: none

chore(tests): change reporter
  playwright-common.config.ts
Labels: none

chore(frontend): deploy new cv
  .github/actions/install/action.yml
  .github/actions/ui-test/action.yml
  public/static/cv.pdf
Labels: Infrastructure

chore(infrastructure): remove network tuning
  .github/actions/install/action.yml
Labels: Infrastructure

chore(infrastructure): remove caching steps
  .github/actions/build/action.yml
  .github/actions/install/action.yml
Labels: Infrastructure

chore(infrastructure): tweak e2e settings
  package.json
  playwright-common.config.ts
  pnpm-lock.yaml
Labels: none
