Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): add status to command menu
  e2e/commandmenu.spec.ts
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/CommandMenu/index.tsx
Labels: Frontend, Tests

fix(frontend): fix consumer header for lambda
  src/services/spotifyService.ts
Labels: Frontend

fix(infrastructure): ensure rebased with main script
  .github/actions/build/action.yml
  .github/workflows/deploy.yml
  scripts/ensure-rebased.sh
Labels: Infrastructure

chore(frontend): update to next.js 15
  package.json
  pnpm-lock.yaml
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/components/Button/index.tsx
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/SocialShare/SocialShare.test.tsx
  src/components/VisuallyHidden/index.tsx
  src/hooks/useDebouncedCallback.ts
  src/hooks/useMountedRef.ts
  src/types/style.ts
Labels: Frontend

chore(tests): add fail notification on live ui tests
  .github/workflows/live-ui-tests.yml
Labels: Infrastructure

fix(frontend): fix consumer header for lambda
  src/services/spotifyService.ts
Labels: Frontend

test(infrastructure): add failure notification for ui test runs (live)
  .github/workflows/live-ui-tests.yml
  scripts/ensure-rebased.sh
Labels: Infrastructure

chore(test): improve discord failure message
  .github/workflows/live-ui-tests.yml
Labels: Infrastructure

chore(test): finalize discord message for failed ui tests
  .github/workflows/live-ui-tests.yml
Labels: Infrastructure

chore(test): add status pages to ui test fail alert
  .github/workflows/live-ui-tests.yml
Labels: Infrastructure

chore(infrastructure): updating name for rebase
  .github/actions/build/action.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): add prom endpoint
  src/app/api/metrics/route.ts
Labels: Frontend

feat(frontend): add prometheus metrics endpoint
  src/app/api/metrics/route.ts
Labels: Frontend

fix(frontend): fix prometheus metrics endpoint
  src/app/api/metrics/route.ts
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update pnpm
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
Labels: Infrastructure

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(ci): run ui tests on dev every hour
  .github/workflows/dev-ui-tests.yml
Labels: Infrastructure

fix(frontend): fix fe header warning
  package.json
  pnpm-lock.yaml
  src/components/Header/index.tsx
Labels: Frontend

fix(frontend): padding on ThemeSelect
  src/components/ThemeSelect/ThemeSelect.css.ts
Labels: Frontend

fix(frontend): code style fixes
  src/components/ContentRenderer.tsx
  src/styles/prism.css
Labels: Frontend

fix(frontend): code style fixes
  src/components/ContentRenderer.tsx
  src/styles/prism.css
Labels: Frontend

chore(frontend): style code
  src/styles/prism.css
Labels: Frontend

chore(frontend): general tidy up
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/error.tsx
  src/app/feed.xml/route.ts
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/sitemap.ts
  src/app/talks/page.tsx
  src/app/work/page.tsx
  src/components/ErrorContent.tsx
Labels: Frontend

chore(frontend): update cv
  public/static/cv.pdf
Labels: none

chore(frontend): update cache header for static assets
  next.config.mjs
Labels: none

chore(ci): normal ui test schedule
  .github/workflows/dev-ui-tests.yml
Labels: Infrastructure

chore(frontend): re-order section
  src/app/page.tsx
Labels: Frontend
