Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

chore(frontend): improve seo
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/pages/index.astro
Labels: Frontend

feat(frontend): improve project cards
  bun.lock
  package.json
  src/components/layout/BaseLayout.astro
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/components/ui/Header.astro
  src/components/ui/ProjectCard.astro
  src/pages/index.astro
  src/pages/projects/index.astro
Labels: Frontend

feat(frontend): improve project cards (#4715)
  bun.lock
  package.json
  src/components/layout/BaseLayout.astro
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/components/ui/Header.astro
  src/components/ui/ProjectCard.astro
  src/pages/index.astro
  src/pages/projects/index.astro
Labels: Frontend

feat(frontend): improve legibility
  src/components/layout/ArticleLayout.astro
  src/components/layout/BaseLayout.astro
  src/components/ui/ArticleCard.astro
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/components/ui/ErrorState.astro
  src/components/ui/Footer.astro
  src/components/ui/Header.astro
  src/components/ui/NowPlaying.tsx
  src/components/ui/ProjectCard.astro
  src/components/ui/TalkCard.astro
  src/components/ui/WorkProjectCard.astro
  src/components/ui/__tests__/CommandMenu.test.tsx
  src/pages/index.astro
  src/styles/about.css
  src/styles/animations.css
  src/styles/article.css
  src/styles/global.css
  src/styles/index.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/util.css
  src/util/__tests__/dateRange.test.ts
  src/util/dateRange.ts
Labels: Frontend

feat(frontend): improve legibility (#4716)
  src/components/layout/ArticleLayout.astro
  src/components/layout/BaseLayout.astro
  src/components/ui/ArticleCard.astro
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/components/ui/ErrorState.astro
  src/components/ui/Footer.astro
  src/components/ui/Header.astro
  src/components/ui/NowPlaying.tsx
  src/components/ui/ProjectCard.astro
  src/components/ui/TalkCard.astro
  src/components/ui/WorkProjectCard.astro
  src/components/ui/__tests__/CommandMenu.test.tsx
  src/pages/index.astro
  src/styles/about.css
  src/styles/animations.css
  src/styles/article.css
  src/styles/global.css
  src/styles/index.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/util.css
  src/util/__tests__/dateRange.test.ts
  src/util/dateRange.ts
Labels: Frontend

feat(frontend): improve legibility
  src/styles/global.css
Labels: Frontend

feat(frontend): always show hash prefix on tags
  src/styles/global.css
Labels: Frontend

feat(frontend): always show hash prefix on tags (#4718)
  src/styles/global.css
Labels: Frontend

feat(frontend): improve legibility
  src/components/layout/ArticleLayout.astro
  src/styles/article.css
Labels: Frontend

feat(frontend): add /tracks page
  e2e/tracks.spec.ts
  src/components/ui/Header.astro
  src/components/ui/RecentTracks.tsx
  src/components/ui/TopTracks.tsx
  src/components/ui/Tracks.module.css
  src/components/ui/__tests__/RecentTracks.test.tsx
  src/components/ui/__tests__/TopTracks.test.tsx
  src/pages/tracks.astro
  src/services/spotifyService.ts
  src/types/spotify.ts
Labels: Frontend, Tests

fix(frontend): empty spotify img urls
  src/components/ui/NowPlaying.tsx
Labels: Frontend

chore(frontend): job change
  src/data/experience.ts
  src/pages/about.astro
Labels: Frontend

fix(frontend): address review comments and cover new util code
  .github/workflows/vitest-coverage.yml
  astro.config.mjs
  bun.lock
  package.json
  src/components/layout/BaseLayout.astro
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/components/ui/Header.astro
  src/components/ui/NowPlaying.module.css
  src/components/ui/__tests__/CommandMenu.test.tsx
  src/content.config.ts
  src/content/blog/ddos-attacks-and-how-to-prevent-them-with-cloudflare-aws-api-gateway.mdx
  src/pages/blog/tags/[tag].astro
  src/styles/about.css
  src/styles/article.css
  src/styles/global.css
  src/util/__tests__/navigateToInternalUrl.test.ts
  src/util/__tests__/seo.test.ts
  src/util/__tests__/tagIndex.test.ts
  src/util/__tests__/thinTagPages.test.ts
  src/util/seo.ts
  src/util/tagIndex.ts
  src/util/thinTagPages.mjs
  src/util/thinTagPages.ts
Labels: Frontend, Infrastructure

test(frontend): restore window.location after the navigation test
  src/util/__tests__/navigateToInternalUrl.test.ts
Labels: Frontend

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**
