Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**

fix(frontend): preview cors fixes
  next.config.mjs
Labels: none

fix(frontend): cors opts
  next.config.mjs
Labels: none

chore(frontend): update next
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update minor deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

feat(frontend): improve code styling
  src/components/ContentRenderer.tsx
  src/styles/app.css.ts
  src/styles/prism.css
Labels: Frontend

fix(frontend): make entire logoContainer clickable
  src/components/Header/index.tsx
Labels: Frontend

fix(frontend): include published tags in sitemap
  src/app/sitemap.ts
Labels: Frontend

fix(frontend): include tags in rrs and sitemap
  src/app/feed.xml/route.ts
Labels: Frontend

fix(frontend): improve ttfb
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Intro/index.tsx
Labels: Frontend

fix(frontend): remove premature cf import
  next.config.mjs
Labels: none

fix(frontend): optimize scripts
  src/app/layout.tsx
  src/app/page.tsx
Labels: Frontend

fix(frontend): fix rsc query param warnings
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Intro/index.tsx
Labels: Frontend

fix(frontend): fix rsc query param 404s
  src/app/about/page.tsx
Labels: Frontend

fix(frontend): fix prefetch 404 console log
  src/app/about/page.tsx
  src/components/Intro/index.tsx
Labels: Frontend

fix(frontend): fix unauthorized sanity draft requests
  src/components/sanity/Preview.tsx
  src/components/sanity/util/resolveProductionUrl.ts
Labels: Frontend

fix(frontend): fix env var not being picked up by sanity
  src/components/sanity/util/resolveProductionUrl.ts
  src/types/env.d.ts
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/components/Intro/index.tsx
  src/utils/featureFlags.ts
Labels: Frontend

feat(frontend): cf deploy
  .eslintrc.json
  .github/actions/deploy/action.yml
  .github/workflows/deploy.yml
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/api/basicauth/route.ts
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/healthcheck/route.ts
  src/app/api/metrics/route.ts
  src/app/api/now-playing/route.ts
  src/app/api/version/route.ts
  wrangler.toml
Labels: Frontend, Infrastructure

feat(frontend): cf deploy
  .github/actions/build/action.yml
  .github/actions/install/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  src/app/api/metrics/route.ts
Labels: Frontend, Infrastructure

feat(frontend): cf deploy
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
  wrangler.toml
Labels: Infrastructure

fix(frontend): cf
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
  wranger-staging.toml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
  wranger-staging.toml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
  wranger.toml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
  package.json
  wranger.toml
Labels: Infrastructure

feat(frontend): cf deploy
  package.json
Labels: none

feat(frontend): cf
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): wip
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): test
  .github/workflows/deploy.yml
  package.json
Labels: Infrastructure

feat(frontend): v
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): cf
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(frontend): new relic refactor
  newrelic.js
  next.config.mjs
  package.json
  src/app/layout.tsx
Labels: Frontend

fix(frontend): fix nr issues
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Labels: Frontend

chore(frontend): fix nr
  package.json
  pnpm-lock.yaml
Labels: none

feat(frontend): attempt nr log statement
  newrelic.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/utils/logger.ts
Labels: Frontend
