Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**

test(frontend): fix skills test
  src/components/Skills/Skills.test.tsx
  src/components/Skills/__snapshots__/Skills.test.tsx.snap
Labels: Frontend

chore(frontend): increase revalidate time
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
  src/config/site.ts
Labels: Frontend

feat(frontend): add new job
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/config/jobs.ts
Labels: Frontend

chore(frontend): update minor deps
  package.json
  pnpm-lock.yaml
Labels: none

feat(frontend): tidy about page
  src/app/about/page.tsx
  src/components/Heading/Heading.css.ts
  src/components/Heading/index.tsx
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(infrastructure): disable ISR due to high vercel usage
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
Labels: Frontend

chore(infrastructure): once a day dev ui test
  .github/workflows/dev-ui-tests.yml
Labels: Infrastructure

feat(infra): sst
  .eslintrc.json
  .github/workflows/deploy.yml
  .github/workflows/sst-ui-tests.yml
  .gitignore
  Makefile
  deploy-sst.sh
  package.json
  pnpm-lock.yaml
  remove-sst.sh
  sst-env.d.ts
  sst.config.ts
  tsconfig.json
Labels: Infrastructure

fix(infra): fix sst test
  .github/workflows/sst-ui-tests.yml
  Makefile
Labels: Infrastructure

feat(infra): add image blurs
  next.config.js
  src/app/about/page.tsx
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
  src/components/Intro/index.tsx
  src/components/TalkItem/index.tsx
  src/components/WorkItem/index.tsx
  sst.config.ts
Labels: Frontend

chore(infra): increase img opt memory
  sst.config.ts
Labels: none

fix(ci): fix cron expr
  .github/workflows/sst-ui-tests.yml
Labels: Infrastructure

chore(infra): increase server memory
  sst.config.ts
Labels: none

chore(tests): try to fix flakiness
  e2e/commandmenu.spec.ts
  sst.config.ts
Labels: Tests

chore(frontend): stage description update
  src/config/jobs.ts
Labels: Frontend

chore(frontend): stage description update
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/config/jobs.ts
Labels: Frontend

feat(infra): sst + open next
  .eslintrc.json
  .gitignore
  Makefile
  dpl-tf.sh
  next.config.js
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  src/hooks/useNProgress.ts
  sst.config.ts
  terraform/main.tf
Labels: Frontend

fix(infra): setup single zone deployment
  .npmrc
  deploy-sst.sh
  next.config.js
  src/middleware.ts
  terraform/main.tf
Labels: Frontend

fix(infra): fix sst
  next.config.js
Labels: none

chore(sst): add static etag
  sst.config.ts
Labels: none

chore(infra): 12hr sst test schedule
  .github/workflows/sst-ui-tests.yml
Labels: Infrastructure

chore(infra): proxy cloudflare url
  sst.config.ts
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/middleware.ts
Labels: Frontend

chore(frontend): update description
  src/config/jobs.ts
Labels: Frontend

fix(ci): fix upload artifact
  .github/workflows/nextjs_bundle_analysis.yml
Labels: Infrastructure

fix(frontend): fix test snapshot
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
Labels: Frontend

chore(frontend): update about
  public/images/luke-ab-1.png
  public/images/luke-about.jpg
  src/app/about/page.tsx
Labels: Frontend

chore(frontend): update about
  e2e/about.spec.ts
Labels: Tests

chore(frontend): update about
  e2e/about.spec.ts
  src/app/about/page.tsx
Labels: Frontend, Tests

chore(frontend): update about
  e2e/about.spec.ts
Labels: Tests

chore(frontend): update jobs
  src/config/jobs.ts
Labels: Frontend

chore(frontend): update jobs
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/config/jobs.ts
Labels: Frontend

fix(frontend): fix install issue
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update to latest next
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(frontend): fix ci
  pnpm-lock.yaml
Labels: none

fix(frontend): fix ci
  src/components/Skills/Skills.module.scss
Labels: Frontend

fix(frontend): fix build
  package.json
  pnpm-lock.yaml
  sanity.config.ts
Labels: none
