Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**

fix(tests): exclude test traffic from ga
  package.json
  playwright-ci.config.ts
  playwright-common.config.ts
  src/app/layout.tsx
  src/components/Analytics.tsx
  src/hooks/useLocalStorage.ts
Labels: Frontend

refactor(tests): simplify test scripts
  .github/actions/build/action.yml
  .github/actions/ui-test/action.yml
  Makefile
  package.json
  playwright-ci.config.ts
  playwright-common.config.ts
Labels: Infrastructure

feat(frontend): prerender slug pages
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/sitemap.ts
  src/services/postService.ts
  src/services/projectService.ts
Labels: Frontend

refactor(tests): refactor domain test
  e2e/domain.spec.ts
Labels: Tests

refactor(frontend): move details to version endpoint
  .github/actions/deploy/action.yml
  src/app/api/healthcheck/healthcheck.test.ts
  src/app/api/healthcheck/route.ts
  src/app/api/version/route.ts
  src/app/api/version/version.test.ts
Labels: Frontend, Infrastructure

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/app/status/page.tsx
Labels: Frontend

chore(frontend): remove stray status page
  src/app/status/page.tsx
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

feat(frontend): update links
  .env.example
  .github/workflows/build.yml
  src/app/api/version/version.test.ts
  src/components/Footer/Footer.test.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Footer/index.tsx
Labels: Frontend, Infrastructure

chore(docs): update readme
  README.md
Labels: none

chore(frontend): improve mdx typings
  src/components/MDXComponents/index.tsx
Labels: Frontend

feat(frontend): add status link to Footer
  src/components/Footer/index.tsx
  src/components/PageTransition/PageTransition.tsx
Labels: Frontend

fix(frontend): fix build
  src/components/Footer/Footer.test.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
Labels: Frontend

chore(frontend): add basic auth back to stg
  playwright-dev.config.ts
  src/middleware.ts
Labels: Frontend

feat(frontend): add redirect to branches micro-site
  next.config.js
Labels: none

feat(frontend): add redirect to status page
  next.config.js
Labels: none

feat(tooling): add method signature lint rule
  .eslintrc.json
Labels: none

fix(tooling): stricter eslint cfg
  .eslintrc.json
  src/test/createLocalStorageMock.ts
Labels: Frontend

feat(frontend): add og image
  src/app/opengraph.png
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update minor deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update next-mdx-remote
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update tinykeys
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update vanilla-extract deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(frontend): fix build
  newrelic.js
  next.config.js
  playwright-dev.config.ts
  scripts/alphabetizePackageJson.js
  scripts/renameComponent.js
  src/components/CommandMenu/index.tsx
  src/types/style.ts
  src/types/util.ts
  src/utils/featureFlags.ts
  test/fileTransform.js
  test/setupTests.js
Labels: Frontend

chore(frontend): fix build
  package.json
  pnpm-lock.yaml
Labels: none

fix(frontend): add talks to sitemap
  src/app/sitemap.ts
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(frontend): design cleanup
  e2e/commandmenu.spec.ts
  e2e/index.spec.ts
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Heading/Heading.css.ts
  src/components/Intro/Intro.css.ts
  src/components/Intro/Intro.tsx
  src/components/Meta/Meta.css.ts
  src/components/Meta/index.tsx
  src/components/Page.tsx
  src/components/PageHeader/index.tsx
  src/components/PostItem/PostItem.css.ts
  src/components/ProjectItem/ProjectItem.css.ts
  src/components/SocialShare/index.tsx
  src/styles/variables.css.ts
Labels: Frontend, Tests

fix(ci): replace deprecated set output with recommended command
  .github/actions/deploy/action.yml
Labels: Infrastructure

fix(ci): fix deprecated set output
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update date-fns
  package.json
  pnpm-lock.yaml
Labels: none

chore(frontend): update about current work
  src/app/about/page.tsx
Labels: Frontend

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Labels: none
