Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

chore(infrastructure): tweak e2e settings
  .github/actions/ui-test/action.yml
  .github/workflows/live-ui-tests.yml
  Makefile
Labels: Infrastructure

chore(infrastructure): bump action version
  .github/actions/install/action.yml
  .github/workflows/nextjs_bundle_analysis.yml
Labels: Infrastructure

chore(infrastructure): bump action version
  .github/actions/ui-test/action.yml
  Makefile
Labels: Infrastructure

chore(infrastructure): bump action version
  playwright-common.config.ts
Labels: none

chore(infrastructure): bump action version
  playwright-dev.config.ts
Labels: none

chore(frontend): deploy updated cv
  public/static/cv.pdf
Labels: none

feat(frontend): update intro
  src/components/Intro/index.tsx
Labels: Frontend

feat(frontend): update intro
  src/components/Intro/Intro.test.tsx
Labels: Frontend

fix(frontend): patch up seo
  src/app/about/page.tsx
  src/app/api/now-playing/route.ts
  src/app/layout.tsx
  src/app/opengraph.png
  src/app/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/page.tsx
  src/config/site.ts
  src/middleware.ts
Labels: Frontend

chore: remove middleware
  src/middleware.ts
Labels: Frontend

chore(dependencies): update jest
  package.json
  pnpm-lock.yaml
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
Labels: Frontend

chore(dependencies): update next
  package.json
  pnpm-lock.yaml
Labels: none

feat(frontend): add twitter link
  e2e/footer.spec.ts
  src/components/Footer/index.tsx
Labels: Frontend, Tests

chore(ci): attempt to resolve flaky playwright ci
  bun.lock
  playwright-common.config.ts
Labels: none

chore(ci): attempt to resolve flaky playwright ci
  bun.lock
Labels: none

chore(ci): workers change
  playwright-common.config.ts
Labels: none

feat(frontend): add social redirects
  next.config.js
Labels: none

chore(ci): tentatitive fix for ci problems
  .github/actions/ui-test/action.yml
  .github/workflows/live-ui-tests.yml
  Makefile
Labels: Infrastructure

chore(deps): update deps
  package.json
Labels: none

chore(ci): tentatitive fix for ci problems
  pnpm-lock.yaml
Labels: none

feat(frontend): add open to work button
  src/app/about/page.tsx
Labels: Frontend

chore(frontend): update email address
  src/app/about/page.tsx
  src/components/Footer/index.tsx
Labels: Frontend

feat(frontend): update work
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
Labels: Frontend

feat(frontend): update work
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/test/render.tsx
Labels: Frontend

feat(frontend): update work
  src/components/ExperienceItem/index.tsx
Labels: Frontend

feat(frontend): update work (#4684)
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
  src/test/render.tsx
Labels: Frontend

merge dev into main (#4682)
  .github/actions/ui-test/action.yml
  .github/workflows/live-ui-tests.yml
  Makefile
  package.json
  pnpm-lock.yaml
  src/app/about/page.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/components/Footer/index.tsx
  src/config/jobs.ts
  src/test/render.tsx
Labels: Frontend, Infrastructure

chore(frontend): change pkg name
  package.json
Labels: none

chore(frontend): deploy to prod (#4685)
  package.json
Labels: none

feat(frontend): enable sanity previews
  next.config.js
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  src/app/(admin)/studio/[[...index]]/page.tsx
  src/app/actions.ts
  src/app/api/disable-draft/route.ts
  src/app/api/draft-mode/enable/route.ts
  src/app/api/draft/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/DisableDraftMode.tsx
  src/components/sanity/util/defaultDocumentNode.ts
  src/components/sanity/util/resolveProductionUrl.ts
  src/services/postService.ts
  src/services/projectService.ts
  src/services/workService.ts
  src/types/env.d.ts
  src/utils/sanity.client.ts
  src/utils/sanity.live.ts
Labels: Frontend

feat(frontend): enable sanity previews
  src/components/MDXComponents.tsx
  src/components/PostItem/index.tsx
  src/components/WorkItem/index.tsx
  src/services/postService.ts
  src/services/workService.ts
Labels: Frontend

feat(frontend): enable sanity previews
  src/components/MDXComponents.tsx
Labels: Frontend

feat(frontend): enable sanity previews
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  src/components/MDXComponents.tsx
  src/components/MuxVideo.tsx
  src/schemas/fields/altField.ts
  src/schemas/fields/index.ts
  src/schemas/index.ts
  src/schemas/post.ts
  src/schemas/talk.ts
  src/schemas/work.ts
  src/utils/parseVideoShortcodes.ts
  tsconfig.json
Labels: Frontend

feat(frontend): enable sanity previews
  src/schemas/work.ts
Labels: Frontend

feat(frontend): enable sanity previews
  src/schemas/work.ts
Labels: Frontend

feat(frontend): enable sanity previews
  next.config.js
  src/schemas/work.ts
Labels: Frontend

feat(frontend): enable sanity previews
  next.config.js
  src/schemas/work.ts
Labels: Frontend

feat(frontend): enable sanity previews
  src/app/work/[slug]/page.tsx
  src/components/ContentRenderer.tsx
  src/components/MuxVideo.tsx
  src/services/workService.ts
  src/types/sanity.ts
Labels: Frontend

feat(frontend): enable sanity previews
  .nvmrc
  pnpm-lock.yaml
  src/components/MuxVideo.tsx
Labels: Frontend

feat(frontend): enable sanity previews
  test/setupTests.js
Labels: none

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**
