Repository luke-h1/lhowsam.com, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Infrastructure, Tests

feat(frontend): enable sanity previews
  src/components/CommandMenu/index.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/Skills/__snapshots__/Skills.test.tsx.snap
  src/components/ThemeSelect/__snapshots__/ThemeSelect.test.tsx.snap
Labels: Frontend

feat(frontend): enable sanity live revalidation
  package.json
  scripts/test-revalidation.ts
  src/app/api/revalidate/route.ts
  src/app/blog/page.tsx
  src/app/projects/page.tsx
  src/app/work/page.tsx
Labels: Frontend

feat(frontend): enable sanity live revalidation
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
Labels: Frontend

feat(frontend): enable sanity live revalidation (#4688)
  package.json
  scripts/test-revalidation.ts
  src/app/api/revalidate/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
Labels: Frontend

feat(frontend): add sentry
  .gitignore
  next.config.js
  package.json
  pnpm-lock.yaml
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/global-error.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
Labels: Frontend

feat(frontend): add sentry
  .gitignore
  next.config.js
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/utils/sanity.live.ts
Labels: Frontend

test(frontend): add work tests
  e2e/work.spec.ts
Labels: Tests

fix(frontend): add high fetch priority to images
  src/app/about/page.tsx
  src/components/Intro/index.tsx
Labels: Frontend

chore(frontend): enable ppr
  next.config.js
Labels: none

chore(frontend): disable ppr
  next.config.js
Labels: none

merge dev into main (#4690)
  next.config.js
  src/app/about/page.tsx
  src/components/Intro/index.tsx
Labels: Frontend

chore: tweak sentry options
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: none

merge dev into main (#4691)
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: none

fix(infrastructure): fix deploy
  .github/workflows/deploy.yml
Labels: Infrastructure

fix(infrastructure): fix deploy
  .github/workflows/deploy.yml
Labels: Infrastructure

fix(infrastructure): fix deploy
  .github/workflows/deploy-live.yml
Labels: Infrastructure

feat(frontend): improve talk layout
  bun.lock
  sentry.edge.config.ts
  src/app/talks/[slug]/page.tsx
  src/app/talks/page.tsx
  src/components/ContentRenderer.tsx
  src/components/TalkItem/TalkItem.css.ts
  src/components/TalkItem/index.tsx
  src/schemas/talk.ts
  src/services/talkService.ts
  src/types/sanity.ts
  tsconfig.json
Labels: Frontend

chore(infrastructure): change git flow
  .github/workflows/deploy-live.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(infrastructure): change git flow
  .github/actions/build/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/TalkItem/TalkItem.css.ts
  src/components/__tests__/__mocks__/talk.ts
  src/utils/mdToHtml.ts
  turbo.json
Labels: Frontend, Infrastructure

chore(infrastructure): change git flow
  package.json
Labels: none

chore(infrastructure): change git flow
  src/utils/mdToHtml.ts
Labels: Frontend

chore(tests): fix flaky tests
  e2e/commandmenu.spec.ts
Labels: Tests

chore(tests): fix flaky tests
  Makefile
Labels: none

feat(frontend): add framer motion
  package.json
  src/app/about/page.tsx
  src/app/blog/page.client.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/app/projects/page.tsx
  src/app/work/page.tsx
  src/components/ExperienceItem/index.tsx
  src/components/FadeIn.tsx
  src/components/Header/index.tsx
  src/components/Intro/index.tsx
  src/components/Page.tsx
  src/components/PageTransition.tsx
  src/components/PostItem/index.tsx
  src/components/ProjectItem/index.tsx
  src/components/StaggerContainer.tsx
  src/components/StaggerItem.tsx
  src/components/WorkItem/index.tsx
Labels: Frontend

feat(frontend): improve mobile nav
  src/components/Header/Header.css.ts
  src/components/Header/index.tsx
Labels: Frontend

fix(tests): regen snapshots
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  test/setupGlobals.js
Labels: Frontend

chore: set sentry rate to 20%
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: none

feat(frontend): improve job listing page
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
Labels: Frontend

feat(frontend): improve job listing page (#4693)
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
Labels: Frontend

chore: update next
  package.json
  pnpm-lock.yaml
Labels: none

chore: update next
  src/app/projects/[slug]/page.tsx
  src/services/projectService.ts
Labels: Frontend

chore: update next
  src/app/work/[slug]/page.tsx
Labels: Frontend

chore: update next
  .env.example
  src/app/work/[slug]/page.tsx
Labels: Frontend

chore: update next
  package.json
Labels: none

chore: update next
  bun.lock
  pnpm-lock.yaml
Labels: none

chore: update next
  package.json
  pnpm-lock.yaml
Labels: none

feat(frontend): add llms.txt route
  src/app/llms.txt/route.ts
Labels: Frontend

fix(frontend): fix css
  src/styles/prism.css
Labels: Frontend

@luke h1/fix/fix css (#4706)
  src/app/llms.txt/route.ts
  src/styles/prism.css
Labels: Frontend

chore: fix build
  .github/actions/install/action.yml
Labels: Infrastructure

.github/labeler.yml:

Frontend:
  - src/**

Infrastructure:
  - .github/**/*
  - .github/*
  - docker

Tests:
  - e2e/**
